.redred{
    border-radius: 20px;
}
.kenphone{
    border-radius: 20px;
    padding: 5px;
}
.ken-bg{
    background-color:rgb(0, 195, 255);
}
.ken-kk{
    background-color:azure;
}

.ken-11{
    color:rgb(8, 58, 38);
}